.tecnologias {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px; /* Reduzco el padding a izquierda y derecha */
}

.habilidades-intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.grid-tecnologias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajustable */
    grid-gap: 1.5rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px; /* Margen inferior para evitar que el footer tape contenido */
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tecnologia:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.tecnologia img {
    width: 80px; /* Tamaño uniforme */
    height: 80px;
    object-fit: contain; /* Mantener la proporción */
    margin-bottom: 10px;
}

.tecnologia p {
    font-size: 1rem;
    margin: 0;
}

/* Ajuste del footer fijo */
footer {
    z-index: 1000;
}
