/* RESET de márgenes y padding */
* {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    box-sizing: border-box; /* Incluye padding y border en el tamaño */
}

/* Estilos generales del body */
body {
    font-family: 'Inter', sans-serif; /* Fuente del texto */
    color: #000000; /* Color del texto */
    background-color: #FFFFFF; /* Color de fondo */
    line-height: 1.6; /* Espaciado entre líneas */
    padding-top: 80px; 
}

/*Cookies y Ley de Privacidad */

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0475B3;
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif; /* Cambiar a la fuente utilizada en el resto del sitio */
    color: #F5F5F5; /* Color del texto */
}

#cookie-banner p {
    margin: 0;
    font-size: 14px;
    flex: 1; /* Permite que el texto ocupe el espacio disponible */
}

#cookie-banner a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

#cookie-banner a:hover {
    color: #fce15b;
}

#cookie-banner button {
    background-color: #fce15b;
    color: #000; /* Cambiar a negro para mejor contraste */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Espacio entre botones */
}

#cookie-banner button:hover {
    background-color: #FFEC89;
}
 



/* Navbar (común para todas las páginas) */
.navbar {
    background-color: #f8f9fa; /* Color de fondo de la navbar */
    transition: background-color 0.3s ease; /* Transición suave */
}

.navbar.scrolled {
    background-color: #000000; /* Color de fondo al hacer scroll */
    color: #FFFFFF; /* Color del texto al hacer scroll */
}

.navbar .navbar-brand {
    font-weight: bold; /* Negrita para el logo */
    font-size: 1.5rem; /* Tamaño de fuente del logo */
}

.navbar .nav-item {
    margin-left: 15px; /* Espaciado entre elementos de la navbar */
}

.navbar .nav-link {
    color: #000000; /* Color de los enlaces */
    transition: color 0.3s ease; /* Transición suave del color */
}

.navbar .nav-link:hover {
    color: #818181; /* Color al pasar el ratón */
}

.navbar button {
    background-color: #000000; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    padding: 5px 10px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

.navbar button:hover {
    background-color: #818181; /* Color al pasar el ratón */
    transform: scale(1.05); /* Aumenta tamaño al pasar */
}

/* Footer */
footer {
    text-align: center; /* Centrar texto */
    background-color: #000000; /* Color de fondo del footer */
    color: #FFFFFF; /* Color del texto */
    padding: 20px 10px; /* Espaciado interno */
}

/* Estilos específicos para index.html */
#index .intro-section {
    display: flex; /* Usar flexbox */
    flex-direction: row; /* Dirección de los elementos en fila */
    align-items: center; /* Alinear verticalmente */
    padding: 50px 10%; /* Espaciado interno */
    gap: 30px; /* Espacio entre columnas */
    justify-content: space-between; /* Distribuir el espacio */
    margin-bottom: 20px;
}

#index .intro-section h1 {
    font-size: 2.5rem; /* Tamaño de fuente del título */
    font-weight: 700; /* Negrita para el título */
    color: #212529; /* Color del título */
    overflow: hidden; /* Oculta el desbordamiento */
    white-space: nowrap; /* Sin salto de línea */
    border-right: 2px solid; /* Línea a la derecha */
    width: 0; /* Ancho inicial */
    max-width: 100%;
    animation: typing 7s steps(30, end) infinite, blink 0.5s step-end infinite; 
    margin-bottom: 20px;
}

/* Animación de la escritura (sin cambios) */
@keyframes typing {
    from { width: 0; } /* Comienza sin ancho */
    to { width: 100%; } /* Expande el ancho */
}

@keyframes blink {
    from, to { border-color: transparent; } /* Sin color al inicio y fin */
    50% { border-color: black; } /* Color en el medio */
}

/* Añadir animación para el emoji */
#index .intro-section h1 img.emoji {
    opacity: 0; /* Inicialmente invisible */
    animation: showEmoji 90000s forwards; /* Duración extendida para la animación del emoji */
    animation-delay: 3s; /* Retraso antes de que empiece la animación del emoji */
}

/* Animación para que el emoji se haga visible */
@keyframes showEmoji {
    0% {
        opacity: 100; /* Comienza invisible */
        transform: translateX(-20px); /* Mueve el emoji hacia la izquierda */
    }
    100% {
        opacity: 1; /* Se vuelve completamente visible */
        transform: translateX(0); /* Vuelve a su posición original */
    }
}

#index .intro-section p {
    font-weight: 700; /* Negrita para el párrafo */
    font-size: 1.25rem; /* Tamaño de fuente del párrafo */
    max-width: 1200px; /* Ancho máximo */
    color: #555555; /* Color del párrafo */
}

/* Estado de ubicación */
.location-status {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear verticalmente */
    gap: 15px; /* Espacio entre elementos */
    font-size: 1rem; /* Tamaño de fuente */
    color: #333333; /* Color del texto */
}

.location-status img {
    width: 20px; /* Ancho de la imagen */
    height: 20px; /* Alto de la imagen */
}

/* Información adicional */
.additional-info {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Columna vertical */
    gap: 10px; /* Espacio entre elementos */
}

/* Indicador de estado */
.status-indicator {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear verticalmente */
    gap: 5px; /* Espacio entre el icono y el texto */
    font-weight: 600; /* Negrita para el indicador */
    color: #28a745; /* Color del texto */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.status-indicator span {
    width: 10px; /* Ancho del indicador */
    display: inline-block; /* Mostrar como bloque en línea */
    margin-right: 15px; /* Espacio a la derecha */
    margin-left: 5px;
}

/* Iconos sociales */
.social-icons {
    display: flex; /* Usar flexbox */
    gap: 15px; /* Espacio entre iconos */
    margin-top: 15px;
}

.social-icons a img {
    width: 25px; /* Ancho de los iconos */
    height: 25px; /* Alto de los iconos */
    transition: transform 0.3s ease; /* Transición suave */
}

.social-icons a img:hover {
    transform: scale(1.2); /* Aumenta tamaño al pasar */
}

