/* ---------------------------- */
/* RESET General y Estilos Generales */
/* ---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 1.6;
}

#sobremi .intro-section {
    display: flex; /* Usar flexbox */
    flex-direction: row; /* Dirección de los elementos en fila */
    align-items: center; /* Alinear verticalmente */
    padding: 50px 10%; /* Espaciado interno */
    gap: 30px; /* Espacio entre columnas */
    justify-content: space-between; /* Distribuir el espacio */
    margin-bottom: 20px;
}

#sobremi .intro-section h1 {
    font-size: 2.5rem; /* Tamaño de fuente del título */
    font-weight: 700; /* Negrita para el título */
    color: #212529; /* Color del título */
    overflow: hidden; /* Oculta el desbordamiento */
    white-space: nowrap; /* Sin salto de línea */
    border-right: 2px solid; /* Línea a la derecha */
    width: 0; /* Ancho inicial */
    max-width: 100%;
    animation: typing 3s steps(10, end) infinite, blink 0.5s step-end infinite; 
    margin-bottom: 20px;
}

/* Animación de la escritura (sin cambios) */
@keyframes typing {
    from { width: 0; } /* Comienza sin ancho */
    to { width: 100%; } /* Expande el ancho */
}

@keyframes blink {
    from, to { border-color: transparent; } /* Sin color al inicio y fin */
    50% { border-color: black; } /* Color en el medio */
}

#sobremi .intro-section p { 
    font-size: 1rem; /* Tamaño de fuente del párrafo */
    max-width: 1200px; /* Ancho máximo */
    color: #555555; /* Color del párrafo */
    text-align: justify;
}